<footer class="width-100 bg-verde-oscuro alineacion-centro-flex">
  <img class="logo-footer" src="/img/iconos/logo-horizontal-blanco.svg" alt="">

  <ul class="enlaces-footer separacion-10px" id="footer-link-1">
    <div class="a-left">
      <li><a href="">Breve historia</a></li>
      <li><a href="">Nuestra empresa</a></li>
      <li><a href="">Abastecimiento ético</a></li>
    </div>
    <div class="a-left">
      <li><a href="">Defensa al consumidor</a></li>
      <li><a href="">Reciclaje</a></li>
      <li><a href="">Contacto</a></li>
    </div>


  </ul>
  <ul class="enlaces-footer-desktop" id="footer-link-2">
    <div>
      <li><a href="">Breve historia</a></li>
      <li><a href="">Nuestra empresa</a></li>
    </div>
    <div>
      <li><a href="">Abastecimiento ético</a></li>
      <li><a href="">Reciclaje</a></li>
    </div>
    <div>
      <li><a href="">Defensa al consumidor</a></li>
      <li><a href="">Contacto</a></li>
    </div>
  </ul>


  <div class="redes separacion-30px alineacion-horizontal">
    <a href=""><img class="espacio-horizontal" src="/img/iconos/instagram.svg" alt=""></a>
    <a href=><img class="espacio-horizontal" src="/img/iconos/facebook.svg" alt=""></a>
    <a href=><img class="espacio-horizontal" src="/img/iconos/twitter.svg" alt=""></a>
  </div>



</footer>