<header>
    <nav>
      <div class="menu-izquierda">
        <a class="block"href="/"><img  src="/img/iconos/burger.svg" alt="menu" /></a>
       
            <a href="/"><img id="logo"  src="/img/iconos/logo-horizontal.svg" alt="logo" /></a>
         
      </div>
     
      <div class="menu-derecha">
        
          <ul class="nav-tablet">
              <li><a href="#">Quiénes somos</a></li> 
             <li><a href="#">Nuestros cafés</a></li> 
             <li><a href="#">Productos</a></li>
             <li><a href="#">Contacto</a></li>
        </ul>
        <div class="nav-iconos">
               <img src="/img/iconos/lupa.svg" alt="buscar" />
               <a href="/cart"><img src="/img/iconos/bolso.svg" alt="compras" /></a> 
               <a href="/user/login"><button class="login-button">Log In</button></a>
              </div>
      </div>
     

    </nav>
    <div class="logo">
        <img id="logo-vert" src="/img/iconos/logo-vertical.svg" alt="logo" />
      </div>
  </header> 