<header>
  <nav>
    <div class="menu-izquierda">
      <img src="/img/iconos/burger.svg" class="burger-menu block" alt="menu">
      
      <a href="/"
        ><img id="logo" src="/img/iconos/logo-horizontal.svg" alt="logo"
      /></a>
      <a class="burger-logo" href="/"
        ><img id="burger-logo" src="/img/iconos/isotipo.svg" alt="logo"
      /></a>
      
    </div>
    <div class="nav-burger">
      <ul class="nav">
        <% if (locals.isLogged) { %> 
          <li><a class="text-decoration-none" href="/user/login"><%= userLogged.name %></a></li>
          
          <% } else { %> 
            <li><a class="text-decoration-none" href="/user/login">Log In</a></li>
          
        <% } %> 
       
       <li><a href="/product">Productos</a></li>
       <li><a href="/nuestros-cafes">Nuestros cafés</a></li>
       <li><a href="/contacto">Contacto</a></li>
       </ul>
     </div>

    <div class="menu-derecha">
      <ul class="nav-tablet">
        
        <li><a href="/nuestros-cafes">Nuestros cafés</a></li>
        <li><a href="/product">Productos</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
      <div class="buscar">

        <form action="/product/search" method="GET">
          <input type="text" name="search" placeholder="Buscar..." />
          <button class="btn" type="submit">
           
              <img src="/img/iconos/lupa.svg" alt="buscar" />
            
          </button>
        </form>

      </div>
      <div class="nav-iconos">
        
        
        <% if (locals.isLogged) { %> 
        <a href="/cart/4"><img src="/img/iconos/bolso.svg" alt="compras" /></a>
        <a class="text-decoration-none" href="/user/login"
          ><button class="login-button"> <%= userLogged.name %> </button></a
        >
        <% } else { %> 
        <a class="text-decoration-none" href="/user/login"
        ><button class="login-button">Log In</button></a
      >
      <% } %> 
      </div>
    </div>
  </nav>
  <div class="logo">
    <img id="logo-vert" src="/img/iconos/logo-vertical.svg" alt="logo" />
  </div>
</header>
