<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Estilos-->
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <!--Fuente Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />

    <title>Home</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="menu-izquierda">
          <img  src="/img/iconos/burger.svg" alt="menu" />
        </div>
        <div class="menu-derecha">
          <img src="/img/iconos/lupa.svg" alt="buscar" />
          <img src="/img/iconos/bolso.svg" alt="compras" />
        </div>
      </nav>

      <div class="logo">
        <img src="/img/iconos/logo-vertical.svg" alt="logo" />
      </div>
    </header>

    <section class="fondo bg-verde-oscuro">
      <img class="fondo-cafe" src="/img/granos-cafe.png" alt="granos de cafe" />
      <img
        class="product-promo"
        src="/img/products/promo-medium-roast.png"
        alt=""
      />
      <div class="texto">
        <h1 class="titular-banner color-blanco">Combo medium roast.</h1>
        <p class="parrafo color-blanco">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in
          sapien felis. Nulla sollicitudin maximus accumsan.
        </p>
        <button class="button-amarillo">Comprar </button>
      </div>
    
    </section>
  </body>
</html>
