<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Estilos-->
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <!--Fuente Roboto-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap"
      rel="stylesheet"
    />

    <title>Register</title>
  </head>

  <body>
    <header>
      <div class="logo-centrado">
        <img src="/img/iconos/logo-vertical.svg" alt="logo" />
      </div>
      <div class="corte-verde-login">
        <p class="saludo">Bienvenido!</p>

        <p class="ingresa-datos">
          Por favor, ingresa tus datos para registrarte
        </p>

        <form class="formulario-login">
          <label class="hidden">Nombre:</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Nombre"
            class="input-box"
          />

          <label class="hidden">Apellido:</label>
          <input
            type="text"
            name="apellido"
            id="apellido"
            placeholder="Apellido"
            class="input-box"
          />

          <label class="hidden">E-mail:</label>
          <input
            type="email"
            name="email"
            placeholder="E-mail"
            class="input-box"
          />

          <label class="hidden">Nombre de usuario:</label>
          <!--no debe tener espacios?? -->
          <input
            type="text"
            name="usuario"
            id="usuario"
            placeholder="Nombre de Usuario"
            class="input-box"
          />

          <label>Contraseña:</label>
          <input class="input-box" type="password" name="password" required />

          <label>Confirmar ontraseña:</label>
          <input class="input-box" type="password" name="password-2" required />
        </form>

        <button class="inicio-sesion" type="submit">Registrarse!!</button>
      </div>
    </header>
  </body>
</html>
