/* HEADER */
.text-decoration-none {
  text-decoration: none;
}
@media (min-width: 375px) {
  #logo-vert {
    display: none;
  }
  nav {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  nav .menu-derecha {
    display: flex;
    position: absolute;
    align-items: center;
    right: 15px;
  }
  nav .menu-derecha img {
    width: 20px;
    margin: 0 10px;
  }
  nav .menu-izquierda {
    position: absolute;
    left: 20px;
    display: flex;
    flex-direction: row;
    width: 70px;
    justify-content: space-between; 
  }
    .burger-logo {
      display: block;
      z-index: 1000;
    }
  
   nav .menu-izquierda #burger-logo {
      width: 40px;
    }
  
    nav #logo {
    display: none;
  }
  .burger-menu{
    width: 20px;
    height: 35px;
    z-index: 900;
    padding-top: 7px;
  }
  .login-button {
    color: #0c3a2d;
    width: 80px;
    height: 25px;
    background-color: white;
    border: solid 1px #0c3a2d;
    border-radius: 20px;
    font-size: 14px;
  }
  .nav-tablet {
    display: none;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .nav-iconos {
    width: 100px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  
  }
  .nav-tablet a {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: #0c3a2d;
  }
  .nav-tablet a:hover {
    color: #0c3a2d;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #0c3a2d;
  }
  .nav-tablet {
    list-style: none;
  }
.buscar{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  right: -30px;
}
.buscar input {
  width: 150px;
  height: 30px;
  padding: 0 20px;
font-size: 14px;
color: #000000;
outline: none;
border: 1px solid silver;
border-radius: 40px;
z-index: 1000;
}
.buscar .btn {
  width: 30px;
  height: 30px;
  position: relative;
  right: 42px;
}
.buscar .btn img{
  position: relative;
  top:-5px;
  right: 15px;
}
.nav-burger{
  width: 260px;
  height: 350px;
  background: white;
  opacity:0.94;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  transform: translatex(-300px);  
  transition: transform 0.5s ease-in-out;
  z-index: 100;
}
.nav-burger.show-burger {
 transform: translate(-10px, 150px); 
} 
.nav-burger .nav{
display: flex;
flex-direction: column;
justify-content: space-between;
position: absolute;
top:90px;
left: 50px;
height: 200px;

} 
.nav-burger .nav li a{
  text-decoration: none;
  color: #0C3A2D;

}


 
}

@media (min-width: 1280px) {
  .buscar{
position: relative;
right: 5px;
  }
  .buscar input {
    width: 0px;
    height: 30px;
    padding: 0 20px;
  font-size: 14px;
  color: #000000;
  outline: none;
  border: 1px solid white;
  border-radius: 40px;
  transition: all 0.6s ease;
  z-index: 1000;
  }
  .buscar .btn {
    width: 30px;
    height: 30px;
    position: relative;
    right: 42px;
  }
  .buscar .btn img{
    position: relative;
    top:-5px;
    right: 15px;
  }
   
.buscar:hover input {
  width: 200px;
  border: 1px solid silver;
}

.buscar input:focus {
  width:200px;
  border: 1px solid silver;
} 
/* cuando tenga la clase show (JS) va a mostrar la barra */
.buscar.show input {
  width:200px;
  border: 1px solid silver;
}
  
  nav .menu-izquierda {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  nav .menu-izquierda #burger-logo {
    display:none; 
  }
  nav #logo {
    display: block;
    margin-left: 20px;
    width: 142px;
    height: 52px;
  }
  .nav-burger{
    display: none;
  }
  .nav-tablet {
    display: block;
    width: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-iconos {
    width: 195px;
  }
}

/*---------------------------------------------------------*/
