
/* LOGO - VERTICAL - unicamente en HOME */
.logo {
    position: absolute;
    z-index: 1000;
    top:29px;
    left:135px;
    
}
/*FONDO */
.fondo{
    width: 100%;
    position: absolute;
    top:71px;
    height: 91.5vh;
}
.fondo-cafe{
    position: absolute;
    top:10%;
    width: 100%;
}
/* PRODUCTO */
.product-promo{
    width: 195px;
    height: 219px;
    position: absolute;
    top:16%;
    left:23%
}
.texto{
    position: inherit;
    top:50%;
    padding: 0 45px;
}
.texto p{
    margin-bottom:25px;
}