@media (min-width: 1280px) {
    #logo{
width: 130px;

    }
    .fondo-cafe-tablet{
        top:150px;
    }
    /*header*/
    .menu-izquierda {
        display: none;
    }
    .nav-iconos .login-button {
        display: block;
    }
    .fondo{
    height: 550px;
    }
    
    .texto{
    width: 600px;
    position: absolute;
    left:100px;
    top:25%;
    }
    .texto h1{
    font-weight: 300;
    font-size: 60px;
    line-height: 50px;
    margin: 30px 0;
    }
    .texto p{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    }
    .product-promo {
    top:15%;
    width: 450px;
    height: 500px;
    filter: drop-shadow(4px 10px 4px rgba(0, 0, 0, 0.35));
    }
    .nav-tablet{
    width: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}

    nav ul{
    list-style-type: none;     
    padding: 0;
    margin:0
}
    .nav-iconos{
        width: 240px;
        display: flex;
        justify-content: space-between;
    }
    .nav-tablet a{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: #0C3A2D;
    }
    .nav-tablet a:hover{
    color: #0C3A2D;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #0C3A2D;

    }
    .nav-tablet{
    list-style: none;
}

    /*caracteristicas productos*/
    .caracteristicas-productos{
        width: 90%;
        margin-bottom: 50px;
    }
    .caracteristicas-productos .alineacion-centro-flex {
        width: 30%;
    }
    .caracteristicas-productos.alineacion-centro-flex h2{
        width: 90%;
        margin:10px;
        font-weight: 300;
        font-size: 30px;
        line-height: 40px;
    }
    .caracteristicas-productos .iconos{
        width: 80%;
        justify-content: space-around;
    }
    .iconos .alineacion-centro-flex {
        flex-direction: row;
       align-items: center;
       justify-content: space-around;
    }
    .iconos .alineacion-centro-flex .icono{
        width: 100px;
    }
    .iconos .alineacion-centro-flex p{
        width: 60%;
        margin-left:20px;
        text-align: left;
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
    }

    /* destacados */
    .destacados .texto-centrado{
         font-weight: 300;
         font-size: 35px;
        line-height: 70px;
    }
    .destacados{
         height: 550px;
    }
    .container-destacados {
        height: 410px;
    }
   .card-container.card-desktop {
       display: block;
   }
   .card-container, .card-container img{
       width: 270px;
    
   }

   /* comments y newsletter */
   .only-desktop{
       display: block;
    width: 85%;
    height: 400px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
   .only-desktop .comments{
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   .only-desktop .container-comments{
       margin-top: 25px;
       width: 450px;
       height: 250px;
       border-radius: 10px;
       padding: 15px 40px;
       background-color: #FFFFFF;
       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }
   
   .header-comments {
       width:45%;
       display: flex;
       justify-content: space-between;
        align-items: center;
   }
   
   .quote {
       position: relative;
       top:-60px;
       left:300px;
   }
   .text-comments{
       margin-top: -20px;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
   }
   .text-comments p{
    font-size: 13px;
}
   .estrellas{
       display: flex;
       width: 30%;
       position: relative;
       top: -5px;
   }
   .estrellas img{
       width: 20px;
    
   }
   .newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;  
   }
   .container-newsletter{
       display: flex;
       flex-direction: column;
       justify-content: space-between;
    margin-top: 25px;
    width: 450px;
    height: 250px;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: #6d9773;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }
   .container-newsletter input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-bottom:15px;
    font-size: 14px;
   }
   .container-newsletter button {
       margin-top:10px;
       width: 156px;
       background-color: #FFFFFF;
       border:none;
       height: 40px;
       border-radius: 50px;
       color:#0C3A2D;
       font-size: 16px;
   }
   .container-newsletter form{
       display: flex;
       flex-direction: column;
       align-items: center;
   } 
   .container-newsletter p{
     font-size: 16px;
    line-height: 25px;
    
   }
   .line{
       position: relative;
       top: 120px;
       width: 6px;
       height: 150px;
       border-radius: 10px;
       background-color: #FFB902;
   }

   /*footer */
   footer {
       height: 155px;
       padding: 0 150px;
   }
   .enlaces-footer{
       display: none;
   }
   .logo-footer{
       width:15% ;
   }
   .enlaces-footer-desktop{
    display: flex;
    justify-content: space-around;
    width: 80%;
    font-size: 14px;
    padding-left: 60px;
    }
    .redes {
        width: 30%;
        justify-content: space-around;
    }
    .redes .espacio-horizontal{
        width: 35px;
    }

}