/* LOGO - VERTICAL - unicamente en HOME */
@media (min-width: 375px) {
  #logo {
    display: none;
  }
  .logo {
    display: block;
    position: absolute;
   /*  z-index:700; */
    top: 29px;
    left: 135px;
  }
  #logo-vert {
    display: block;
  }
  .burger-logo{
display: none;
  }
 
  .nav-iconos,
  .login-button {
    display: none;
  }

  /*FONDO */
  .fondo {
    width: 100%;
    height: 700px;
    margin-bottom: 50px;
    border-radius: 0 0 30px 30px;
  }
  .buscar input {
    width: 0;
    border:none;
  }
  /* imagenes promo */
  .imagenes-promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fondo-cafe {
    margin-top: 20px;
    width: 100%;
  }
  .fondo-cafe-tablet {
    display: none;
  }

  .contenedor-principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .product-promo {
    width: 210px;
    height: 250px;
    position: absolute;
    top: 190px;
  }

  .texto {
    margin-top: 75px;
    padding: 0 45px;
  }
  .texto p {
    margin-bottom: 35px;
  }



  /*  SECCION CARACTERISTICAS DE NUESTROS PRODUCTOS */

  .caracteristicas-productos {
    width: 100%;
    height: 630px;
  }
  .estrellas {
    width: 100px;
  }
  .icono {
    width: 80px;
  }
  .caracteristicas-productos p {
    width: 150px;
    margin-top: 8px;
    text-align: center;
  }
  /*section "destacados" */
  .destacados {
    height: 530px;
    width: 100%;
  }

  .container-destacados {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .flechas {
    width: 24px;
    margin: 10px;
  }
  .card-container.card-tablet {
    display: none;
  }
  .card-container.card-desktop {
    display: none;
  }

  /* comments y newsletter solo para desktop */
  .only-desktop {
    display: none;
  }

  /* footer   */
  footer {
    /* padding: 35px; */
    height: 450px;
    width: 100%;
  }
  .logo-footer {
    width: 60%;
    margin-left: -5px;
    margin-bottom: 30px;
  }
  footer li,
  footer a {
    list-style: none;
    margin-left: -20px;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
  .enlaces-footer {
    text-align: center;
  }

  .redes {
    width: 60%;
  }
}

/*--------------TABLET-----------------*/

@media (min-width: 768px) {
  .nav-iconos,
  .login-button {
    display: block;
  }
  .nav-iconos {
    display: flex;
    flex-direction: row;
  }

  .fondo-cafe {
    display: none;
  }

  .fondo-cafe-tablet {
    display: block;
    position: absolute;
    right: -15px;
    width: 60%;
    top: 10%;
  }
  .fondo {
    height: 450px;
  }
  .product-promo {
    position: absolute;
    left: 55%;
    top: 10%;
    width: 285px;
    height: 350px;
  }
  .texto {
    width: 45%;
    position: absolute;
    top: 11%;
  }
  /*caracteristicas productos */
  .caracteristicas-productos {
    width: 90%;
    height: auto;
  }
  .caracteristicas-productos.alineacion-centro-flex {
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
  }
  .caracteristicas-productos.alineacion-centro-flex h2 {
    width: 85%;
  }
  .iconos {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  /* productos-destacados */
  .card-container.card-tablet {
    display: block;
  }
  .card-container.card-desktop {
    display: none;
  }

  /* seccion comments y newsletter solo desktop */
  .only-desktop {
    display: none;
  }

  /*footer*/

  .logo-footer {
    width: 20%;
  }
  .enlaces-footer {
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: 0 8px;
  }
  .redes {
    width: 25%;
    padding: 10px;
  }
  .redes .espacio-horizontal {
    width: 35px;
    margin: 5px;
  }
  .a-left {
    text-align: left;
  }

  .enlaces-footer-desktop {
    display: none;
  }
}

/*------------DESKTOP-------------*/
@media (min-width: 1280px) {
  .none {
    display: none;
  } 
  .fondo-cafe-tablet {
    top: 150px;
  }

  /*header*/
  nav .menu-izquierda a {
    display: none;
  }

  .nav-iconos .login-button {
    display: block;
  }
  .fondo {
    height: 550px;
  }

  .texto {
    width: 600px;
    position: absolute;
    left: 100px;
    top: 25%;
  }
  .texto h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 50px;
    margin: 30px 0;
  }
  .texto p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
  }
  .product-promo {
    top: 15%;
    width: 450px;
    height: 500px;
    filter: drop-shadow(4px 10px 4px rgba(0, 0, 0, 0.35));
  }
  .nav-tablet {
    width: 550px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .nav-iconos {
    width: 195px;
    display: flex;
    justify-content: space-between;
  }
  .nav-tablet a {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: #0c3a2d;
  }
  .nav-tablet a:hover {
    color: #0c3a2d;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #0c3a2d;
  }
  .nav-tablet {
    list-style: none;
  }

  /*caracteristicas productos*/
  .caracteristicas-productos {
    width: 90%;
    margin-bottom: 50px;
  }
  .caracteristicas-productos .alineacion-centro-flex {
    width: 30%;
  }
  .caracteristicas-productos.alineacion-centro-flex h2 {
    width: 90%;
    margin: 10px;
    font-weight: 300;
    font-size: 30px;
    line-height: 40px;
  }
  .caracteristicas-productos .iconos {
    width: 80%;
    justify-content: space-around;
  }
  .iconos .alineacion-centro-flex {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .iconos .alineacion-centro-flex .icono {
    width: 100px;
  }
  .iconos .alineacion-centro-flex p {
    width: 60%;
    margin-left: 20px;
    text-align: left;
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
  }

  /* destacados */
  .destacados .texto-centrado {
    font-weight: 300;
    font-size: 35px;
    line-height: 70px;
  }
  .destacados {
    height: 550px;
  }
  .container-destacados {
    height: 410px;
  }
  .card-container.card-desktop {
    display: block;
  }
  .card-container,
  .card-container img {
    width: 270px;
  }

  /* comments y newsletter */
  .only-desktop {
    display: block;
    width: 85%;
    height: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .only-desktop .comments {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .only-desktop .container-comments {
    margin-top: 25px;
    width: 450px;
    height: 250px;
    border-radius: 10px;
    padding: 15px 40px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .header-comments {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quote {
    position: relative;
    top: -60px;
    left: 300px;
  }
  .text-comments {
    margin-top: -20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .text-comments p {
    font-size: 13px;
  }
  .estrellas {
    display: flex;
    width: 30%;
    position: relative;
    top: -5px;
  }
  .estrellas img {
    width: 20px;
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25px;
    width: 450px;
    height: 250px;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: #6d9773;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .container-newsletter input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
  }
  .container-newsletter button {
    margin-top: 10px;
    width: 156px;
    background-color: #ffffff;
    border: none;
    height: 40px;
    border-radius: 50px;
    color: #0c3a2d;
    font-size: 16px;
  }
  .container-newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-newsletter p {
    font-size: 16px;
    line-height: 25px;
  }
  .line {
    position: relative;
    top: 120px;
    width: 6px;
    height: 150px;
    border-radius: 10px;
    background-color: #ffb902;
  }
  .logo-footer {
    width: 15%;
  }
}
