* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
}

.header-section {
  display: flex;
  justify-content: space-between;
}

.header-section-img-icon-flecha {
  width: 16px;
  height: 15.56px;
  margin-top: 27px;
  margin-left: 32px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.header-section-p-carrito {
  width: 93px;
  height: 34px;
  font-weight: 600;
  font-style: normal;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.05em;
  margin-top: 18px;
  margin-right: 24px;
}

.main-section-article-img {
  height: 120px;
}

.main-section {
  position: relative;
  top: 82px;
}

#main-section-article-1 {
  border: solid 1px #008000;
  border-bottom: solid 2px #a9a9a9;
}

.main-section-paragraph-1 {
  width: 178px;
  height: 42px;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.05em;
  border: solid 1px blue;
}

.main-section-paragraph-2 {
  width: 194px;
  height: 28px;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 22.4px;
  border: solid 1px blue;
}
