.main-section-article-margin {
  margin-top: 30.97px;
  margin-left: 22px;
  margin-right: 24px;
  padding-bottom: 19.03px;
  border-bottom: solid 2px #a9a9a9;
}

.margin-right-10 {
  margin-right: 10px;
}
