* {
    font-family: 'Roboto';
    font-style: normal;
      box-sizing: border-box;
      
  }
  
  
  .sin-estilos{
      text-decoration: none;
  }
  
  /*         COLORES         */
  .bg-verde-oscuro {
  background-color: #0C3A2D;
  }
  .color-verde-oscuro{
      color: #0C3A2D;
  }
  .bg-verde-claro {
      background-color: #6D9773;
  }
  .color-verde-claro{
      color: #6D9773;
  }
  .bg-amarillo {
      background-color: #FFB902;
  }
  .color-amarillo {
      color: #FFB902;
  }
  .color-blanco {
      color: white;
  }
  .color-negro{
      color:#232525;
  }
  
  /*          TIPOGRAFIAS            */
  .thin {
      font-weight: 100;  
  }
  .regular{
      font-weight: 300;  
  }
  .bold{
  font-weight: 400;
  }
  .black{
      font-weight: 700;
  }
  .texto-centrado{
      text-align: center;
  }
  .titular-banner {    
  font-size: 35px;
  font-weight: 100;
  }
  .parrafo {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  }
 
  
  /*       MEDIDAS         */
  .width-100 {
      width: 100%;
  }
  .width-50{
      width: 50%;
  }
  .width-70{
      width: 70%;
  }
  .separacion-10px{
      margin:10px 0;
  }
  .separacion-30px{
      margin:30px 0;
  }
  .espacio-horizontal{
      margin:0 10px;
  }
  
  .alineacion-centro-flex{
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .alineacion-horizontal{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  /* HEADER */
  nav{
      height: 70px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      
  }
  nav .menu-derecha{
      display: flex;
      position: absolute;
      align-items:center;
      right: 15px;
      
      }
  nav .menu-derecha img{
      width: 20px;
      margin: 0 10px;
  }
  nav .menu-izquierda{
      position: absolute;
      left:20px;
     }
  
     
     .login-button{
      color: #0C3A2D;
      width: 80px;
      height: 25px;
      background-color: white;
      border: solid 1px #0C3A2D;
      border-radius: 20px;
  font-size: 14px;
  }
  
  /* nav desktop-tablet */
  .nav-tablet {
      display: none;
  }
  
  /*      button     */
  .button-amarillo {
      color:white;
      font-weight: 700;
  font-size: 16px;
  line-height: 160%;
      width: 130px;
      height: 35px;
  background: #FFB902;
  border-radius: 20px;
  border:none;
  }
  
  .secundary-button{
    color: #0C3A2D;
    font-weight: 700;
    height: 35px;
    background-color: white;
    border: solid 2px #0C3A2D;
    border-radius: 20px;
  font-size: 14px;
  }
  
  
  /* estilos para tarjeta producto */
  .card-container{
      width: 230px;
      min-height: 370px;
      margin-top:30px;
      background-color: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  
  }
  .card-container img{
      width:230px;
      height: 230px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
  }
  .card-container .text-card{
      padding: 20px;
      display: flex;
      flex-direction: column;
  }
  .text-card .precio{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  /*-------formularios--------*/
  .isotipo{
    display: block;
    margin: auto;
    margin-top:50px;
  }
  .form-container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
  }
  .input {
    border-radius: 5px;
    height: 40px;
    border:solid 1px #C4C4C4;
    margin-top:10px;
  }
  #description{
    width: 100%;
    height: 150px;
  }
  label {
    font-weight: 600;
    font-size: 16px;
   }

   .formulario-input {
    background: #ffffff;
    transition: 0.3s ease all;
    box-shadow:3px 0 30px rgba(163, 163, 163, 0.4);
  }
  
  .formulario-input:focus {
    border: 3px solid #0075ff;
    outline: none;
    box-shadow: 3px 0 30px rgba(163, 163, 163, 0.4);
  }
  
  .formulario-input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
  }
  .formulario-input-empty {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
  }
  
  .formulario-input-error-activo {
    display: block;
    
  }
  .formulario-input-empty-activo {
    display: block;
    
  }
 
  small {
    width: 90%;
    height: auto;
  }
/*-----------Estilos para validacion ---------*/
.formulario-grupo-correcto .formulario-validacion-estado {
    color: #1ed12d;
    opacity: 1;
  }
  
  .formulario-grupo-incorrecto .formulario-label {
    color: #bb2929;
  }
  
  .formulario-grupo-incorrecto .formulario-validacion-estado {
    color: #bb2929;
    opacity: 1;
  }
  
  .formulario-grupo-incorrecto .formulario-input {
    border: 3px solid #bb2929;
  }  
    
  