.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.bg-white {
  background-color: #ffffff;
}

.bg-gray {
  background: #c4c4c4;
}

.color-gris {
  color: #a9a9a9;
}

.main-article-categoria {
  height: 42px;
  width: 264px;
  left: 32px;
  top: 525px;
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-align: left;
}

/* ------------------------------------------------- */
.margin-left-32 {
  margin-left: 32px;
}

.main-section-article {
  padding-bottom: 15.485px;
  border-bottom: solid 2px #a9a9a9;
  padding-top: 15.485px;
}

.main-img-2 {
  margin-right: 7px;
}

.main-section-paragraph-1 {
  width: 91%;
  font-weight: 600;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.05em;
}

.main-section-paragraph-2 {
  font-weight: 300;
  font-size: 14px;
  line-height: 22.4px;
}

.main-section-product-name {
  flex-wrap: wrap;
  flex-grow: 1;
}

.form-cart-add {
  align-items: center;
  margin-right: 40px;
}

#main-total-end,
#main-p-total-price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.paragraph-price {
  max-width: max-content;
}

.main-section-product-form {
  height: 50%;
  justify-content: flex-end;
  align-items: flex-end;
}

.btn-cart,
.btn-cart-2,
.input-count-cart {
  width: 26.13px;
  height: 28px;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0em;
  border: solid 1px #6a6b6b;
  background-color: #ffffff;
}

.paragraph-price-tipography {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}
