.bg-white {
  background-color: #ffffff;
}

.bg-gray {
  background: #c4c4c4;
}

.color-gris {
  color: #a9a9a9;
}

.main-article-categoria {
  height: 42px;
  width: 264px;
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: 0.05em;
  text-align: left;
  align-items: center;
}

#main-corazon,
#main-corazon-2 {
  height: 19.75px;
  width: 22.65px;
  border-radius: 0px;
}
