<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head') %>

  <body class="bg-white">

    <%- include ('../partials/header') %>

      <main>
        <h1>Carrito de compras</h1>
        <form action="">

          <section class="cart-container">
            <div class="product-cart-container">

              <div class="img">
                <img src="/img/products/product-cart.png" alt="">
              </div>

              <div class="text-container-cart">

                <div class="product-name">
                  <h3>Nombre de producto</h3>
                  <i class="fas fa-times color-negro"></i>
                </div>

                <p>Lorem ipsum dolor sit.</p>

                <div class="input-price">
                  <input type="number">
                  <h3>$555</h3>
                </div>

              </div>
            </div>
            <div class="product-cart-container">

              <div class="img">
                <img src="/img/products/product-cart.png" alt="">
              </div>

              <div class="text-container-cart">

                <div class="product-name">
                  <h3>Nombre de producto</h3>
                  <i class="fas fa-times color-negro"></i>
                </div>

                <p>Lorem ipsum dolor sit.</p>

                <div class="input-price">
                  <input type="number">
                  <h3>$555</h3>
                </div>

              </div>
            </div>

          </section>
          <section class="total-container">
            <div class="subtotal">
              <h4>Subtotal</h4>
              <h4>$555</h4>
            </div>
            <div class="descuento">
              <h4>Descuentos</h4>
              <h4>$555</h4>
            </div>
            <div class="total-compra">
              <h3>TOTAL</h3>
              <h3>$555</h3>
            </div>

          </section>

          <button class="comprar button-amarillo">Comprar</button>

        </form>
      </main>

      <%- include('../partials/footer') %>

  </body>

</html>