<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head', {style: "product-create.css",
  title: "Edit product",}) %>
  <body>
    <%- include ('../partials/header') %>

    <main>
      <div class="header">
        <img class="isotipo" src="/img/iconos/isotipo.svg" alt="" />
        <h2 class="carga-prod">Error en Productos_db</h2>
      </div>
      
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
