<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head', {style: 'login.css', title: 'Login'}) %>
  <body>
    <%- include ('../partials/header') %>

    <img class="isotipo" src="/img/iconos/isotipo.svg" alt="" />
    <main>
      <form
        class="form-container"
        method="POST"
        action="/user/login"
        id="form-register"
      >
        <div class="saludo">
          <h3>Hola!</h3>
          <p>Por favor, ingresa tus datos:</p>
        </div>
        <div class="inputs">
          <div class="name">
            <label for="user-name">Email:</label>
            <input
              class="input"
              name="email"
              type="text"
              placeholder="user@user.com"
            />
            <p id="msgError-email" class="p-msgError"></p>
            <% if (locals.errors && errors.email) { %>
            <div class="text-danger"><%= errors.email.msg %></div>
            <% } %>
          </div>
          <div class="pass">
            <label for="password">Contraseña:</label>
            <input
              class="input"
              name="password"
              type="password"
              placeholder="*********"
            />
            <p id="msgError-password" class="p-msgError"></p>
          </div>
        </div>
        <div class="ingresar">
          <button class="button-amarillo" type="submit">Ingresar</button>
        </div>
        <div class="registrarse">
          <div class="recordarme">
            <input type="checkbox" name="remember_user" />Recordar mi usuario
          </div>
          <p>¿No tienes una cuenta?</p>
          <a href="/user/register">Regístrate</a>
        </div>
      </form>
    </main>

    <div class="footer"><%- include('../partials/footer') %></div>
    <script src="/js/validationUserRegister.js"></script>
  </body>
</html>
